.footer-section{
    color: var(--color-letter-btn);
    background-color: rgba(16, 17, 17, 0.315);
}

.footer-top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.rowg-5{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content: center;
    gap: 1rem;
}

.col-xl{
    font-size: 18px;
    
}

.logo__media{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social__title{
    font-size: 10px;
}

.footer-social{
    display: flex;
    gap: 1rem;
    font-size: 30px;
}

.footer-bottom{
    display: flex;
    flex-wrap: wrap;
}

.footer-bottom-link{
    display: flex;
    gap: 1rem;
}

.list_footer_menu {
    position: relative; 
    overflow: hidden; 
  }
  
  .list_footer_menu::after {
    content: ''; 
    display: block; 
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 0; 
    border-bottom: 1px solid rgb(143, 143, 143); 
    transition: width 0.3s ease; 
  }
  
  .list_footer_menu:hover::after {
    width: 200px; 
  }