
.shared_icons {
    overflow: hidden;
    display: flex;
    background-color: var(--color-line);
    margin-top: 1rem;
  }
  
  .principal_icons {
    display: flex;
    will-change: transform; 
    animation: scroll 30s linear infinite;
  }
  
  .client_i {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .client_icon {
    width: 250px;
    aspect-ratio: 3.18;
    object-fit: contain;
  }
  
 
  @media (max-width: 768px) {
    .client_icon {
      width: 250px;
      height: 70px; 
    }
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    0% {
        transform: translateX(10%);
      }

    100% {
      transform: translateX(calc(-100px * 8));
    }
  }