@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root{
    --color-btn: purple;
    --color-letter-btn: white;
    --color-blur-icon: rgba(255, 255, 255, 0.849);
    --color-line: rgba(128, 128, 128, 0.445);
    --color-hosting: rgba(128, 128, 128, 0.219);
}

.navbar{
    background-color: transparent;
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    font-family: 'Rubik', sans-serif;
}

.nav-link{
    color: var(--color-btn);
    font-weight: bold;
    font-size: 15px;
}

.nav-link {
    position: relative;
    display: inline-block; /* o 'block' si tus enlaces son de bloque */
    text-decoration: none; /* Opcional: elimina el subrayado del enlace */
    /* tus estilos adicionales aquí */
  }
  
  .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px; /* Altura de la línea */
    background: purple; /* Color de la línea */
    transition: width 0.3s; /* Velocidad de la animación */
    position: absolute;
    bottom: -5px; /* Ajusta la distancia desde la parte inferior del enlace */
    left: 0;
  }
  
  .nav-link:hover::after {
    width: 100%; /* La línea se expandirá de izquierda a derecha */
  }

.logo{
    width: 200px;
    height: auto;
}


.container-fluid{
    width: 1120px;
    display: flex;
    gap: 1rem;
}

.navbar-nav{
    display: flex;
    gap: 1rem;
}

.btn_double{
    display: flex;
    gap: 1rem;
}

.btn-outline{
    border-color: var(--color-btn);
    color: var(--color-btn);
}

.btn-outline:hover{
    background-color: var(--color-btn);
    color: var(--color-letter-btn);
}

@media (width <= 767px) {
    .container-fluid{
        border-bottom: none
    }
  }