.about__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--color-letter-btn);
    position: relative;
}

.about__txt{
    text-align: justify;
    width: 1000PX;
}