.about__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:var(--color-letter-btn);
    position: relative;
    width: 100%;
}

/**** titulos y subtitulos ***/
.about__title{
    position: absolute;
    top: 100px;
    z-index: 2;
    font-weight: 600;
}

.about__p_dedicated{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 280px;
    font-size: 10px;
}

.about__subtitle {
    position: absolute;
    top: 160px;
    z-index: 2;
    font-size: 10;
    line-height: 1.2;
}
.about__p{
    position: absolute;
    top: 180px;
    z-index: 2;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__don{
    font-size: 25px;
}

/**** img banner*****/
.about__banner{
    width: 100%;
    height: auto;
}


.about__banner img{
    opacity: 0.2;
    height: 300px;
}

/*** parrafo***/


.about__txt{
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

.title_fund{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    margin-bottom: 1rem;
    margin-top: 1rem;
}


.about__span{
    font-weight:bold
}

@media (width <= 767px) {

    .about__subtitle{
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 23px;
    }

    .about__p{
        top: 240px;
        font-size: 10px;
    }

    .about__txt{
        width: 400px;
}
}