.faq-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: aliceblue;
    margin-top: 3em;
}
  
  .containerfaq{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
  }


  .section-title{
    margin-bottom: 1em;
  }

  .faq-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }

  .faq-item:hover {
    cursor: pointer;
  }
  
  .faq-item .question {
    width: 100%;
    border: 1px solid rgb(226, 226, 226);
    font-weight: 10px;
    padding: 0.3em 0em 0.3em 1.2em;
  }

  .question_and_sig{
    display: flex;
    align-items: self-start;
    width: 100%;
  }

  .question{
    font-size: 16px;
  }
  .sig{
    color: red;
  }
  
 
  .faq-item p {
    background-color: rgb(123, 3, 170);
    margin-bottom: 10px;
    width: 100%;
    color: #ffffff;
    max-height: 0; /* Inicialmente colapsado */
    overflow: hidden; /* Ocultar contenido */
    transition: max-height 0.3s ease-out; /* Transición suave */
  }
  
  .faq-item.active p {
    max-height: 100px; /* Ajusta este valor según la altura de tu contenido */
  }
  