.faq-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: aliceblue;
    margin-top: 3em;
}
  
  .containerfaq{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
    max-width: 900px;

  }
  .faq-item {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    

  }
  
  .faq-item h4 {
    font-weight:400;
    border-radius: 1px solid red;
  }
  
 
  .faq-item p {
    margin-top: 10px;
    color: #666;
    max-height: 0; /* Inicialmente colapsado */
    overflow: hidden; /* Ocultar contenido */
    transition: max-height 0.3s ease-out; /* Transición suave */
  }
  
  .faq-item.active p {
    max-height: 100px; /* Ajusta este valor según la altura de tu contenido */
  }
  