.container{
    margin-top: 120px;
    display: flex;
}

.principal_title{
    color: var(--color-letter-btn);
    font-size: 50px;
}

.text-base{
    color: var(--color-line);
}

.btn__to__server{
    font-size: 20px;
}

.principal_description{
    margin-top: 1rem;
    color: var(--color-letter-btn);
}

.img_banner{
    width: 700px;
    animation: scaleBanner 1s ease-in-out;
}

.banner-thumb{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content{
    animation: moveBanner 1s ease-in;
}

@media (width <= 767px) {
    .img_banner{
        width: 380px;
        margin-top: 3rem;
    }

    .principal_title{
        max-width: 380px;
        font-size: 2.5rem;
        overflow: hidden;
    }
    
  }

@keyframes moveBanner {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes scaleBanner {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
