:root{
    --color-choose: rgb(32, 2, 32);
}

.choose-section{
    width: 100%;
    background-color: var(--color-hosting);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.section-header{
    text-align: center;
    color: var(--color-letter-btn);
}

.i-img{
    width: 68px;
    height: 68px;
    object-fit: contain;
}

.choose-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
}

.choose-item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-choose);
    border-radius: 10px;
    padding: 1rem;
    max-width: 400px;
    height: auto;
}


.tweet-slider{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.title, .description_p{
    color: var(--color-letter-btn);
    text-align: center;
}


@media (width >= 600px) {
    .choose-item{
        max-width: 300px;
        height: 300px;
    }
}