.principal__whydonhoster{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.title__why{
    color: var(--color-letter-btn);
    font-size: 23px;
    margin-top: 1em;
}

.color__why{
    color: var(--color-btn);
}

.principal__info_why{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2em;
}

.icon__whydondonhoster{
    background-color: var(--color-blur-icon);
    width: 80px;
    border-radius: 50%;
}

.info__why__donhoster{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.icon__info_why{
    width: 80px;
}

.title__info__why{
    color: var(--color-blur-icon);
}


.info__description{
    text-align: center;
    margin-top: 0.4em;
    color: var(--color-letter-btn);
}
